.container {
    height: auto;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.item {
    height: auto;
    width: auto;
    background: pink;
    border: 2px solid black;
}

li {
    font-size: 25px;
}
